# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
Logs/

# Asset Store tools
*.unitypackage

# Visual Studio / VS Code
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.suo
*.tmp
*.svd
*.pidb
*.booproj

# Rider / IntelliJ / JetBrains
.idea/

# OS generated
.DS_Store
Thumbs.db

# Other
*.apk
*.aab
*.zip
*.rar
*.7z
*.gz